{{outlet}}
<ul>
  {{#each model as |post|}}
    <li>
      {{post.title}}
      <button type="button" {{action 'delete' post}}>Delete</button>
    </li>
  {{/each}}
</ul>


  {{new-post save="save"}}
