


    <nav>
      <span>BUSTLE CLONE</span>
      <ul>
        <li>News</li>
        <li>Entertainment</li>
        <li>Fashion &amp; Beauty</li>
        <li>Lifestyle</li>
        <li>Books</li>
      </ul>
    </nav>


<div class="container">
    {{outlet}}

  </div>
