    <nav>
      <span>{{#link-to 'index'}}BUSTLE CLONE{{/link-to}}</span>
      <ul>
        <li>News</li>
        <li>Entertainment</li>
        <li>Fashion &amp; Beauty</li>
        <li>Lifestyle</li>
        <li>Books</li>
        <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
      </ul>
    </nav>


<div class="container">
    {{outlet}}

  </div>
